<!DOCTYPE html>
<html>
<head>
  <title>{{ client.name }} Weekly PPC Report ({{ client.start_date }} - {{ client.end_date }})</title>
</head>
<body>
  <p><b>{{ client.name }} Weekly PPC Report ({{ client.start_date_string }} - {{ client.end_date_string }})</b></p>
  <p><i>Data used: {{client.comparison_dates }}</i></p>
  <br>
  <p><b>Live Dashboard Link: {{client.dashboard}}</b></p>
  <p><b>90 Day Plan: {{client.plan}}</b></p>
  <br>
  <p><b>WIP: </b></p>
    {% for task in client.commentary.plan_overview.tasks %}
      {{ loop.index }}) {{ task.task }}
      <ul>
      <li>Overview: {{ task.summary }}</li>
      <li>Status: {{ task.status }}</li>
      <li>Deadline: {{ task.end_date }}</li>
      </ul>
      <br>
    {% endfor %}
  <p><b>Performance Overview: </b></p>
  <ul>
    <li>
      {{client.commentary.performance_overview.summary}}
    </li>
  </ul>
  <br>
  <p><b>Insights: </b></p>
    {% for point in client.commentary.performance_points %}
      {{ loop.index }}) {{point.title}}
      <ul>
        <li>{{point.summary}}</li>
      </ul>
    <br>
    {% endfor %}
  <p><b>KPIs:</b></p>
  <ul>
    {% for dimension, metrics in client.funnel_data.items() %}
      {% if client.account_type == "Ecommerce" %}
        <li>
          {{ dimension }}:
          {{ metrics["Transaction Revenue"]["curr"] }} Transaction Revenue ({{ metrics["Transaction Revenue"]["pct"] }})
          @ {{ metrics["ROAS"]["curr"] }} ROAS ({{ metrics["ROAS"]["pct"] }})
        </li>
      {% else %}
        <li>
          {{ dimension }}:
          {{ metrics["Conversions"]["curr"] }} Conversions ({{ metrics["Conversions"]["pct"] }})
          @ {{ metrics["CPA"]["curr"] }} CPA ({{ metrics["CPA"]["pct"] }})
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <br>
  <p><b>Cost:</b></p>
  <ul>
    <li> Cost: {{ client.funnel_data.Total.Cost.curr}} </li>
    {% if client.funnel_data.Total.Cost.curr != client.run_rate %}
      <li> Run Rate: {{ client.run_rate }} </li>
    {% endif %}
    {% if client.budget != '' %}
    <li> Budget: £{{ client.budget }} </li>
    {% endif %}
  </ul>
</body>
</html>