<!DOCTYPE html>
<html>
<head>
  <title>{{ client }} Weekly PPC Report ({{ period_start }} - {{ period_end }})</title>
</head>
<body>
  <h1>{{ client }} Weekly PPC Report ({{ period_start }} - {{ period_end }})</h1>
  <h2>BAU Update:</h2>
  <ul>
    {% for w in wwd %}
      <li>{{ w }}</li>
    {% endfor %}
  </ul>
  <br>
  <h2>WIP:</h2>
  <br>
  <h2>Insights: </h2>
  <br>
  <h2>KPIs:</h2>
  <ul>
    {% for d, c, cy, cp, cpy in list %}
    <li> {{ d }}: {{ c }} (± {{ cy }}) Conversions @ {{ cp }} ({{ cpy }}) CPL </li>
    {% endfor %}
    <li> Overall: {{ ml[3] }} (± {{ my[3] }}) Conversions @ {{ ml[7] }} ({{ my[7] }}) CPL </li>
  </ul>
   <h2>Spend:</h2>
  <ul>
    <li> Spend: {{ spend_block[0] }} </li>
    <li> Run Rate: {{ spend_block[1] }} </li>
    <li> Budget: {{ budget }} </li>
  </ul>
</body>
</html>
